h1{color:red;}
h2{color:rgb(225, 1, 192);}
	p{background-color:red;color:white;}
	table{background-color:pink;color:white;}
	ul{color:blue;background-color:red;}
	ol{color:blue;background-color:black;}
	form{background-color: black; color:white;font-family:Arial;}